.hide {
    display: none;
}
.tab {
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    cursor: pointer;
    padding: 5px;
    color: grey;
    transition: 0.5s ease-in-out;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.tab.selected {
    border-bottom: 3px solid white;
    color: white;
}
.tab:hover {
    color: white;
}
.center-container {
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (max-width: 1500px) {
    .center-container {
        width: 75%;
    }
}
@media only screen and (max-width: 1000px) {
    .center-container {
        width: 90%;
    }
}
.center-block {
    width: 100%;
}
button {
    width: 50%;
    border-color: white;
    color: white;
}
button:hover {
    background-color: white;
}
#play-button {
    cursor: pointer;
    border-radius: 5px;
    width: 20px;
    text-align: center;
    margin-top: 0.3em;
}
#play-button:hover {
    background-color: white;
    color: black;
}
#player-navigator {
    width: 100%;
}
#stats {
    text-align: left;
    padding: 5px;
}
.sep {
    padding: 5px;
    flex: 1;
}
.sep-left {
    border-right: 2px solid white;
}
.midi-loaders {
    flex: 1;
}
.vert-center {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}
.song-action-button {
    width: 100%;
}
.list-choice{
    width:300px;
    margin:1em auto;
    position: relative;
    cursor: pointer;  
}
.list-choice input[type="radio"]{
    position:absolute;
    left:-9999px;
}

.list-choice-title {
    width: 100%;
    display: block;
    background: rgba(0,0,0,0.5);
    text-align: center;
    padding: 0.55em 1em;
    box-sizing: border-box;
    color: white;
    border-radius: 0.2em;
}
.list-choice:hover .list-choice-title {
    border-radius:0.2em 0.2em 0 0;
}
.list-choice-objects label:nth-last-of-type(1) span{
    border-radius:0 0 0.2em 0.2em;
}
.list-choice input[type="radio"] + span {
    color: white;
    background: rgba(0,0,0,1);
    padding: 0.55em 1em;
    display: block;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    width: 100%;
}
.list-choice:hover input[type="radio"] + span {
    margin: 0px;
    padding: 0.55em 1em;
    background: rgba(0,0,0,0.8);
}
.list-choice-objects {
    position: absolute;
    top: 0;
    padding-top: 2.1em;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    max-height: 0;
    transition: all 250ms ease;
}
.list-choice:hover .list-choice-objects  input[type="radio"] + span {
    position: relative;
    top: 0;
    transition: all 250ms ease-in-out;
}
.list-choice:hover input[type="radio"] + span:hover {
    background:#222;
}
.list-choice:hover input[type="radio"]:checked + span:hover {
    background:#555;
}
.list-choice:hover input[type="radio"]:checked + span {
    background:#555;
}
.list-choice input[type="radio"]:checked + span {
    position: absolute;
    top: 0em;
    border-radius: 0.2em;
}
.list-choice:hover input[type="radio"]:checked + span {
    border-radius: 0;
}
.list-choice:hover .list-choice-objects label:nth-last-of-type(1) input[type="radio"]:checked + span{
    border-radius:0 0 0.2em 0.2em;
}

.list-choice:hover .list-choice-objects {
    max-height: 540px;
}
.homebox {
    border-color: white;
}
.reload {
    font-family: Lucida Sans Unicode;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.reload:hover {
    color: grey;
}
.major-warning, .minor-warning {
    font-weight: bold;
}
.major-warning {
    color: red;
}
.minor-warning {
    color: yellow;
}
.button-radio-selected {
    border-color: darkgoldenrod;
}
.dls-radio-container {
    padding: 5px;
    width: 100%;
}
.dls-radio-container button {
    width: 100%;
}
button:disabled, button[disabled] {
    border: 1px solid #999999;
    color: #666666;
    pointer-events: none;
}