.hide {
    display: none;
}
.tab {
    border-bottom: 1px solid darkgoldenrod;
    border-right: 1px solid darkgoldenrod;
    cursor: pointer;
    padding: 5px;
    color: grey;
    transition: 0.5s ease-in-out;
}
.tab.selected {
    border-bottom: 3px solid darkgoldenrod;
    color: white;
}
.tab:hover {
    color: white;
}
.center-container {
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (max-width: 1500px) {
    .center-container {
        width: 75%;
    }
}
@media only screen and (max-width: 1000px) {
    .center-container {
        width: 90%;
    }
}
.center-block {
    width: 100%;
}
button {
    width: 50%;
}
#play-button {
    cursor: pointer;
    border-radius: 5px;
    width: 20px;
    text-align: center;
}
#play-button.playbtn-play {
    font-size: 1.75em;
    margin-top: -0.075em;
}
#play-button:hover {
    background-color: white;
    color: black;
}
#player-navigator {
    width: 70%;
}
#stats {
    text-align: left;
    padding: 5px;
}
.sep {
    padding: 5px;
    flex: 1;
}
.sep-left {
    border-right: 2px solid darkgoldenrod;
}
.midi-loaders {
    flex: 1;
}
.vert-center {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}